<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <pageconfig>
            <setconfig>
                <page_num>5</page_num>
            </setconfig>
        </pageconfig>
    </default>
</config>